<img src="http://static1.squarespace.com/static/53d0279de4b0b8806089f6a9/t/54471286e4b0551d2527653c/1413943964322/family_photos_kristin_mae_photography001.jpg?format=1500w">


<a href="http://www.google.com">Click me!</a>

<ol>
  <li>Raindrops on roses</li>
  <li>Whiskers on kittens</li>
  <li>Bright copper kettles</li>
  <li>Warm woolen mittens</li>
</ol>


<table border="1px">
  <thead>
    <tr>
      <th>Famous Monsters by Birth Year</th>
    </tr>
    <tr>
      <th>Famous Monster</th>
      <th>Birth Year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>King Kong</td>
      <td>1933</td>
    </tr>

    <tr>
      <td>Dracula</td>
      <td>1897</td>
    </tr>

    <tr>
      <td>Bride of Frankenstein</td>
      <td>1935</td>
    </tr>
  </tbody>
</table>

<table border="4px">
  <thead>
    <tr>
      <th colspan=3><em>Famous Models by Birth Year</em></th>
    </tr>

    <tr>
      <th>Model</th>
      <th>Birth Year</th>
      <th>Hotness</th>
      </tr

    </thead>

    <tbody>


      <tr>

        <td><a href="http://codecademy.com"><img src="http://ts1.mm.bing.net/th?&id=HN.608012797955802984&w=300&h=300&c=0&pid=1.9&rs=0&p=0"</td></a>

        <td><a href="http://www.victoriasecret.com"><img src="http://ts1.mm.bing.net/th?&id=HN.608012797955802984&w=300&h=300&c=0&pid=1.9&rs=0&p=0"</td></a>

        <td><a href="http://codecademy.com"><img src="http://ts1.mm.bing.net/th?&id=HN.608012797955802984&w=300&h=300&c=0&pid=1.9&rs=0&p=0"</td></a>

      </tr>

    </tbody>

    
