 






 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   padding-top: 60px;
 }


 footer {
   padding: 1em 0;
   margin-top: 1em;
   border-top: 1px solid #ccc;
 }

 .img-footer {
   max-width: 2em;
   max-height: 2em;
   margin-right: .5em;
 }

 .nav-pad-css {
 	padding-top: 10px;
 }

 #padding-bold {
 	padding-top:12px;
 	font-size: 16px;
 }






